.button1 {
    display: block;
    background-color: black;
  }
  
  button {
    width: 25%;
    height: 60px;
    font-size: 30px;
}
.calculator-body {
    max-width: 400px;
    margin: auto;
    background-color:white;
    color:green
  }
  .result {
    height: 60px;
    background-color: black;
    width: 100%;
    color: white;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }
  